
/* Your CSS Code here. */

.holder{
  display: flex;
  flex-wrap: wrap;       /* Allow items to wrap onto the next line */
  justify-content: center;
}

.item1{
	background-color:green;
}
.item2{
	background-color:red;
}
.item3{
	background-color:blue;
}
